{{- /*
    使用方法: {{< medialist "数据文件名" "年份(两位数)" >}}
*/ -}}

{{- $dataFile := .Get 0 -}}
{{- $yearPrefix := .Get 1 -}}

{{- if not $dataFile -}}
    {{- errorf "medialist shortcode in %s: 缺少第一个参数 (数据文件名)。" .Page.Path -}}
{{- end -}}
{{- if not $yearPrefix -}}
    {{- errorf "medialist shortcode in %s: 缺少第二个参数 (年份)。" .Page.Path -}}
{{- end -}}

{{- $mediaData := index site.Data $dataFile -}}
{{- if $mediaData -}}
    {{- $items := slice -}}
    {{- range $mediaData -}}
        {{- $type := printf "%v" (.type | default "") -}}
        {{- if hasPrefix $type $yearPrefix -}}
            {{- $items = $items | append . -}}
        {{- end -}}
    {{- end -}}
    {{- partial "mentalfood/media-list.html" (dict "items" $items) -}}
{{- else -}}
    <p class="mentalfood-empty">警告：找不到数据文件 data/{{ $dataFile }}.yaml (或 .json/.toml)</p>
{{- end -}}
