.page {
  position: relative;
  box-sizing: border-box;
  max-width: 820px;
  width: min(100% - 2rem, 820px);
  margin: 0 auto;

  &.home,
  &.archive {
    max-width: 900px;
    width: min(100% - 2rem, 900px);
  }

  [pageStyle=wide][autoTOC=true] & {
    max-width: 960px;
    width: min(100% - 2rem, 960px);
    margin-left: auto;
    margin-right: auto;
  }
  [pageStyle=wide][autoTOC=false] & {
    max-width: 1040px;
    width: min(100% - 2rem, 1040px);
    margin-left: auto;
    margin-right: auto;
  }
  [header-desktop] & {
    padding-top: $header-height;
  }

  [header-desktop=normal] & {
    padding-top: 0;
  }

  @include blur;
}

.headerLink {
  scroll-margin-top: 3.5rem;
}

@import "_single";
@import "_special";
@import "_archive";
@import "_home";
@import "_404";
@import "_taxonomy";
