backend:
  name: github
  repo: DivineHJF/hugo-blog-Aether # 根据你的截图，这是你的仓库
  branch: main # 确保这是你的主分支 (可能是 main 或 master)

  # --- B 方案的核心配置 ---
  # 指向 Vercel 自己的 /api/ 路径
  base_url: / 
  auth_endpoint: api/auth
  # --- 配置结束 ---

media_folder: "static/images/uploads" 
public_folder: "/images/uploads"

collections:
  - name: "post"
    label: "文章"
    folder: "content/posts" # 确保这是你存放文章的目录
    create: true
    slug: "{{fields.title}}"
    extension: "md"
    format: "toml-frontmatter"
    fields:
      - {label: "标题 (请使用 YYYYMMDD 格式)", name: "title", widget: "string"}
      - {label: "发布日期", name: "date", widget: "datetime", default: "", format: "YYYY-MM-DDTHH:mm:ssZ", time_format: "HH:mm:ss"}
      - {label: "分类", name: "categories", widget: "select", multiple: true, options: ["碎碎念", "爱折腾", "读看听", "万里路"], default: []}
      - {label: "系列", name: "series", widget: "list", default: ["夕拾花"]}
      - {label: "标签", name: "tags", widget: "list", default: []}
      - {label: "开启评论", name: "comment", widget: "boolean", default: true}
      - {label: "显示目录", name: "toc", widget: "boolean", default: false}
      - {label: "正文", name: "body", widget: "markdown"}