{{- $src := .Source -}}
{{- $integrity := .Integrity -}}
{{- if (urls.Parse $src).Host | not -}}
    {{- $resource := resources.Get $src -}}
    {{- with .Template -}}
        {{- $resource = $resource | resources.ExecuteAsTemplate . $.Context -}}
    {{- end -}}
    {{- if .Minify -}}
        {{- $resource = $resource | minify -}}
    {{- end -}}
    {{- with .Fingerprint -}}
        {{- $resource = $resource | fingerprint . -}}
        {{- $integrity = $resource.Data.Integrity -}}
    {{- end -}}
    {{- $src = $resource.RelPermalink -}}
{{- end -}}
{{- return (dict "src" $src "integrity" $integrity "crossorigin" .Crossorigin) -}}
