@mixin link($light, $dark) {
  .links a {
    padding: 0 5px;
  }
  a, a::before, a::after {
    text-decoration: none;
    color: var(--ink);
  }

  a:active,
  a:hover {
    color: var(--interactive);
  }
}
