{{- $params := .Page.Params | merge .Site.Params.Page | merge (dict "author" .Site.Author.name) -}}
{{- $baseURL := strings.TrimSuffix "/" .Site.BaseURL -}}
{{- $normalizeFeedHTML := printf `${1}%s/${2}` $baseURL -}}
{{- $summary := .Page.Description -}}
{{- if not $summary -}}
    {{- with .Page.Summary -}}
        {{- $summary = dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
    {{- end -}}
{{- end -}}
{{- $summary = $summary | replaceRE `(<(?:img|source)[^>]+(?:src|srcset)=["'][^"']+["'][^>]*>|<figure[^>]*>.*?</figure>)` "" | replaceRE `((?:href|src)=["'])/([^"']*)` $normalizeFeedHTML -}}
{{- $fullContent := dict "Content" .Page.Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
{{- $fullContent = $fullContent | replaceRE `((?:href|src)=["'])/([^"']*)` $normalizeFeedHTML -}}

<item>
    <title>
        {{- .Page.Title -}}
    </title>
    <link>
        {{- .Page.Permalink -}}
    </link>
    <pubDate>
        {{- .Page.Date.Format "Mon, 02 Jan 2006 15:04:05 -0700"  -}}
    </pubDate>
    {{- if .Page.Params.authors -}}
        {{- range $name := .Page.Params.authors -}}
            <dc:creator>{{- $name -}}</dc:creator>
        {{- end -}}
    {{- else -}}
        <dc:creator>{{- $params.author | default (T "author") -}}</dc:creator>
        {{- with .Site.Author.email -}}
            <author>{{- . }}{{ with $.Site.Author.name }} ({{ . }}){{ end -}}</author>
        {{- end -}}
    {{- end -}}
    <guid isPermaLink="true">
        {{- .Page.Permalink -}}
    </guid>
    <description>
        {{- $summary | plainify | htmlEscape -}}
    </description>
    {{- if $params.rssFullText -}}
        <content:encoded>
            {{- "<![CDATA[" | safeHTML -}}
            {{- with $params.featuredimage -}}
                <div class="featured-image">
                    <img src="{{ . | absURL }}" referrerpolicy="no-referrer">
                </div>
            {{- end -}}
            {{- $fullContent | safeHTML -}}
            {{- "]]>" | safeHTML -}}
        </content:encoded>
    {{- end -}}
</item>
